*,*::before, *::after{
    box-sizing: border-box;
    justify-content: center;
  }
  body {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: black
  }
  
  .input{
    background-color: transparent;
    background-color: rgb(228, 228, 228);
    color: black;
    border-style: 1px solid black;
    white-space: pre-wrap;
    background: none;

  }
  .header{
    background-color: white;
    color: black;
    text-align: center;
    align-items: center;
    margin: 0px;
    height: 80px;
    padding-top: 10px;

  }
  .row {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color:rgb(255, 232, 181);
   
  }
  .first-col{
    padding-top: 10px;
    text-align: center;
    align-items: center;
    width: 20%;
    
  }
  .search-results{
    padding-top: 1rem;
  }
  .second-col{
    width: 100%;
     height: 50vh;
     margin: 0px;
  }
  .contentHigher{
    height: 44vh;
    width: 100%;
    background-color: rgb(253, 216, 161);
    margin-right: 0;
    padding: 30px;
    box-shadow: 0 0 1px black;
    border: 0.1px solid black;
    border-right: none;
    font-weight: 500;
  }
  .lower-div{
    padding: 0px;
    margin: 0px;
    height: 50%;
    
  }
  .button-primary{
   display:flex;
   flex-direction: row;
   flex-wrap: nowrap;
    background-color: none;
    white-space: pre-wrap;
    height: 50px;
    width: 50px;
    outline: none;
    background-color: pink;
    font-size: 25px;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 13px;
  }
  .city{
    width: 80%;
    display:inline-block;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
    height: 50px;
    outline: none;
    margin-right: 0px;
    padding: 0 16px;
    font-size: 1.5rem;
    background: none;
    color:black;
  }

  
  .button-primary:hover{
    box-shadow: 0 0 10px black;
   
  }
  .ul.li{
    list-style: none;
  }
  
  .search-results{
    padding: 0;
    margin: 0;
    align-items: left;
  }
  .container{
    align-items: center;
    padding-left: 1.5rem;

  }
  ul{
list-style-type: none;
padding-top: 10px;


  }
  li{
font-size: 1.5rem;
display: flex;
flex-direction: column;
overflow: hidden;
background-color: rgb(255, 241, 204) ;
width: 100%;
margin-top: 0px;
overflow: hidden;
display: block;
align-items: center;
float: left;
border: 1px solid black;
border-bottom: none;
border-bottom:none;
text-decoration-style: capitalize;

    
  }
  li:last-child{
    border-bottom: 1px solid black;
  }
 .cities{
   padding: 20px;
  margin-top: 5px;

 }
 
 .card-div{
  align-items: left;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
  margin-left: 0;
  background-color: black

 }
 .card-area{
  padding: 10px;
 margin: 0 5px;
  height: 200px;
  background-color: rgba(71, 71, 243, 0.966);
  color: white;
  box-shadow: 0 0 10px rgb(102, 95, 95);
  width: 18%;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border-radius: 5px;
 text-align: center;
}

.form{
  padding-left: 3rem;
}
  .error{
    background-color: red;
    color: ghostwhite;
  }